{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top:50px">
    <div class="hero-unit">
        <h3>Upload Excel File</h3>
         <form action="{{ url_for('upload') }}" method=post enctype="multipart/form-data" >
        {{ form.hidden_tag() }}                
                
        {{ form.file }}             
        
        {{ form.submit }}
        </form>    
        {% for message in form.file.errors %}
            <span class="label label-important">{{ message }}</span>
        {% endfor %}
    
    </div>

</div>
{% endblock %}
